body {
    color: whitesmoke;
    padding: 15px;
    font-family: 'Public Sans', sans-serif;
    background-image: linear-gradient(to right, #345e3b, #2e5333, #213d28, #2e533a, #345e34, #5d7e6d);
    background-attachment: fixed;
}

div.profile {
    border: 2px solid #5d7e6b;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 30%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #224423;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

img.pfp {
    border-radius: 10px;
    width: 50%;
    height:50%;
    align-items: center;
}

div.main {
    background-color: #213d22;
    border: 2px solid #5d7e6b;
    padding: 0px 10px;
    width: 70%;
    margin-left: 160px;
}

div.main img {
    width: 32%;
    height: 32%;
}

div.links {
    display: flex;
    justify-content: space-evenly;
    background-color: #213d22;
    padding: 4px;
}

div.links button {
    border-radius: 12px;
    padding: 10px;
    background-color: #162c17;
    border: 1px solid #72bd91;
    cursor: pointer;
    text-transform: uppercase;
}