body {
    padding: 15px;
    font-family: 'Public Sans', sans-serif;
    background-color: #bebebe;
}

div.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 18%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 10px;
}

#homelink{
    padding: 0px 20px 20px 0px;
    text-decoration: none;
    font-size: 250%;
    text-align: center;
    color: #b883f3;
    display: block;
}

#openlink {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 150%;
    color: #000000;
    display: block;
}

#mainlink {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 150%;
    color: #818181;
    display: block;
}
  
#mainlink:hover {
    color: #000000;
}

#mainlink:active {
    color: #000000;
}

div.main {
    padding: 0px 10px;
    margin-left: 18%;
}