body {
    font-family: 'Public Sans', sans-serif;
    background-color: #ffffff;
}

div.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-right: 1px solid black;
    overflow-x: hidden;
    padding-top: 20px;
}

#homelink{
    text-decoration: none;
    font-size: 200%;
    text-align: center;
    color: #b883f3;
    display: block;
    font-weight: bold;
}

#openlink {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 110%;
    color: #000000;
    display: block;
}

#mainlink {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 110%;
    color: #818181;
    display: block;
}
  
#mainlink:hover {
    color: #000000;
}

#mainlink:active {
    color: #000000;
}

div.title {
    background-color: black;
    position:absolute;
    top: 0;
    left: 15%;
    right: 0;
    width: 85%;
    height: 40%;
    overflow: hidden;
}

img.imgbg {
    width: 100%;
    margin: -140px 0px 0px 0px;
    opacity: 0.5;
}

div.content {
    margin-left: 15%;
    padding: 0px 10px;
    position: absolute;
    top: 40%;
}

div.subcont1 {
    background-color: gray;
    width: 85%;
    height: auto;
}
    